<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>manual_file</servlet-name>
        <servlet-class>manual_file</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upload_file</servlet-name>
        <servlet-class>upload_file</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>directory</servlet-name>
        <servlet-class>directory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>directory_file</servlet-name>
        <servlet-class>directory_file</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>manual_file</servlet-name>
        <url-pattern>/manual_file</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upload_file</servlet-name>
        <url-pattern>/upload_file</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>directory</servlet-name>
        <url-pattern>/directory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>directory_file</servlet-name>
        <url-pattern>/directory_file</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
